<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.valjean.week08.mapper.TOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.valjean.week08.entity.TOrder">
        <id column="id" property="id"/>
        <result column="trans_id" property="transId"/>
        <result column="order_type" property="orderType"/>
        <result column="amount" property="amount"/>
        <result column="sale_type" property="saleType"/>
        <result column="goods_id" property="goodsId"/>
        <result column="purchase_phone" property="purchasePhone"/>
        <result column="purchase_addr" property="purchaseAddr"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, trans_id, order_type, amount, sale_type, goods_id, purchase_phone, purchase_addr, status, create_time, update_time
    </sql>

</mapper>
